<?xml version="1.0" encoding="UTF-8"?>

<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jee="http://www.springframework.org/schema/jee"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
    "
>

    <bean id="userdao" class="example.forum.dao.JdbcTemplateUserDao">
        <property name="datasource" ref="datasource" />
    </bean>

    <bean id="categorydao" class="example.forum.dao.JdbcTemplateCategoryDao">
        <property name="datasource" ref="datasource" />
    </bean>

    <jee:jndi-lookup id="datasource" jndi-name="jdbc/forum" expected-type="javax.sql.DataSource" />

</beans>
