/* CUSTOM CSS */
body {
  padding-top: 20px;
  padding-left: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

table {
  border: 1px solid black;
}

th {
  background-color: black;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
  border: 1px solid gray;
}

label {
  width: 10em;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block
}

.buttons {
  margin-left: 12em;
}




